VITE_SUPABASE_URL=https:https://xbvycvtluvjyjfkufnwr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhidnljdnRsdXZqeWpma3VmbndyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwNDYzMDksImV4cCI6MjA5ODYyMjMwOX0.vLOqdGhODMn0oHEKw8TKMLaiGWetw3Xxz7SgCKSdKF0
